<div class="row adventure-info-container">
    <div class="col-sm adventure-badge" id="adventure-level">
        <fa-icon [icon]="icons.level"></fa-icon>
        <p>{{level}}</p>
    </div>
    <div class="col-sm adventure-badge" id="adventure-duration">
        <fa-icon [icon]="icons.duration"></fa-icon>
        <p>{{duration}}</p>
    </div>
    <div class="col-sm adventure-badge" id="adventure-mountain-range">
        <fa-icon [icon]="icons.mountainRange"></fa-icon>
        <p>{{mountainRange}}</p>
    </div>
    <div class="col-sm adventure-badge" id="adventure-number-of-participants">
        <fa-icon [icon]="icons.numberOfParticipants"></fa-icon>
        <p>{{numberOfParticipants}}</p>
    </div>
    <div class="col-sm adventure-badge" id="adventure-availability">
        <fa-icon [icon]="icons.availability"></fa-icon>
        <p>{{availability}}</p>
    </div>
</div>